body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: rgba(49, 65, 111, 255);
  padding: 10px 20px;
}

header .logo {
  position: absolute;
  top: -20px; 
  left: -5px; 
  width: 240px;
  height: 100px;
  clip-path: inset(10px 40px 30px 10px);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 575px;
}

nav ul li {
  position: relative;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

nav ul li .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav ul li .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav ul li .dropdown-content a:hover {
  background-color: rgba(49, 65, 111, 0.8);
  color: white;
}

nav ul li:hover .dropdown-content {
  display: block;
}

.hero {
  text-align: center;
  padding: 100px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.title {
  font-size: 3em;
  color: rgba(49, 65, 111, 255);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-left: -600px;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 75px;
  margin-left: -600px;
  color: rgba(49, 65, 111, 255);
}

.icons {
  margin-top: 100px;
  margin-left: -600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons a {
  color: rgba(49, 65, 111, 255);
  text-decoration: none;
  font-size: 1.2em;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.icons a i {
  margin-right: 8px;
  font-size: 1.5em;
}

.icons a:hover {
  color: rgba(255, 99, 71, 1);
}

.container {
  display: flex;
  width: 300%;
  height: 90vh; 
}
/*
.sidebar {
  flex: 1;
  display: flex;
  margin-left: -95px;
}

.sidebar img {
  width: 100%;
  height: auto;
  max-width: 90%; 
  max-height: 650px; 
  margin-top: 50px;
}*/

.sidebar {
  flex: 1;
  display: flex;
  margin-left: -95px;
}

.sidebar img {
  width: 100%;
  height: auto;
  max-width: 90%; 
  max-height: 550px; 
  margin-top: 120px;
}

.main-content {
  flex: 2;
  padding: 20px;
  display: flex;
}




.sidebar2 {
  flex: 1;
  display: flex;
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
}

.sidebar2 img {
  width: 100%; /* Aseguramos que ocupe todo el ancho del contenedor */
  height: auto;
  max-width: 50%; /* Aseguramos que no exceda el ancho del contenedor */
  max-height: 50%; /* Aseguramos que no exceda la altura del contenedor */
  margin-top: -500px;
  margin-left:-1500px ;
  clip-path: inset(30% 5% 10% 10%);
}

