
<header>
  <img src="https://www.ucu.edu.uy/plantillas/images/avatar.png" alt="Logo" class="logo">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</header>

<div class="login">
  <nav class="nav">
    <a href="/login" class="login-link">Iniciar Sesión</a>
  </nav>
</div>


<div class="hero">
  <h1 class="title">¡Bienvenido a PencaUCU!</h1>
  <p class="subtitle">Demuestra tu habilidad para predecir los resultados de la Copa América 2024 y gana emocionantes premios.</p>
</div>



<!-- Sección para los íconos --->
<div class="icon-container">
  <a href="/reglas" class="icon">
    <img src="https://cdn1.iconfinder.com/data/icons/game-design-butterscotch-vol-1/256/Game_Rules-512.png" alt="Reglas">
    <span>Reglas</span>
  </a>
  <a href="/premios" class="icon">
    <img src=" https://img.freepik.com/vector-gratis/trofeo-primer-lugar-icono-plano-copa-oro-ganador-ilustracion-vectorial_1284-42226.jpg?size=338&ext=jpg&ga=GA1.1.98259409.1711929600&semt=ais" alt="Premios">
    <span>Premios</span>
  </a>
  <a href="/como-jugar" class="icon">
    <img src="https://images.vexels.com/media/users/3/152579/isolated/preview/a52ce2d4014c39b7b7c5974a1a1cbb85-icono-de-signo-de-interrogacion-de-circulo-naranja.png" alt="Cómo Jugar?">
    <span>Cómo Jugar</span>
  </a>
</div>



 
<!-- footer --->

<footer class="footer">
  <div class="footer-content">
    <h2>Síganos</h2>
    <div class="social-icons">
      <a href="https://www.instagram.com" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
      </a>
      <a href="https://www.facebook.com/ucuoficial/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook">
      </a>
      <a href="https://x.com/UCUoficial?mx=2" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter">
      </a>
      <a href="https://www.youtube.com/user/MediatecaUCU" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube">
      </a>
      <a href="https://uy.linkedin.com/school/universidad-catolica-del-uruguay/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn">
      </a>
    </div>
  </div>
</footer>
