<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="hacer-prediccion-container">

    <nav>
        <ul>
            <li class="dropdown">
                <a>Predicciones</a>
                <div class="dropdown-content">
                    <a href="/hacer-prediccion">Fase de grupos</a>
                    <a href="/fixture">Eliminatorias</a>
                </div>
            </li>
            <li><a href="/ver-resultados">Resultados</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/puntajes">Puntajes</a></li> 
            <li><a href="/estadisticas">Estadisticas</a></li>
            <li class="dropdown">
                <a>Sobre la copa</a>
                <div class="dropdown-content">
                    <a href="/grupos">Grupos</a>
                    <a href="/calendario">Calendario</a>
                </div>
            </li>
            <li class="dropdown">
                <a><i class="fas fa-bars"></i></a>
                <div class="dropdown-content">
                    <a href="/perfil">Perfil</a>
                    <a href="/login">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="content">
        <img src="assets/pencaucu2.png" class="logo">
        <div class="hero">
            <p class="subtitle">Jugá tu propia copa! </p>
             <p class="subtitle2">Participá de la penca UCU, predecí los resultados de cada partido y gana grandes premios </p>
            <div class="icons">
                <a href="/reglas"><i class="fas fa-book"></i> Reglas</a>
                <a href="/como-jugar"><i class="fas fa-gamepad"></i> Cómo Jugar</a>
                <a href="/premios"><i class="fas fa-trophy"></i> Premios</a>
            </div>
        </div>
    </div>
    
</div>
<div class="sidebar">
    <img src="assets/fotoJug22.png" alt="Sidebar Image" class="sidebar-image"> 
</div>