<header>
    <img src="https://www.ucu.edu.uy/plantillas/images/avatar.png" alt="Logo" class="logo">
    <nav>
        <ul>
            <li class="dropdown">
                <a href="#">Predicciones</a>
                <div class="dropdown-content">
                    <a href="/ver-predicciones">Mis Predicciones</a>
                    <a href="/hacer-prediccion">Fase de grupos</a>
                    <a href="/fixture">Eliminatorias</a>
                </div>
            </li>
            <li><a href="/ver-resultados">Resultados</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/calendario">Calendario</a></li>
            <li><a href="/grupos">Grupos</a></li>
            <li><a href="/puntajes">Puntajes</a></li>
            <li class="dropdown">
                <a href="#"><i class="fas fa-bars"></i></a>
                <div class="dropdown-content">
                    <a href="/perfil">Perfil</a>
                    <a href="/logout">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="sidebar">
        <img src="assets/logo3.png" alt="Sidebar Image" class="sidebar-image"> 
    </div>
    <div class="sidebar2">
        <img src="https://logowik.com/content/uploads/images/conmebol-copa-america-usa-202465062.logowik.com.webp" alt="Sidebar Image" class="sidebar-image">
    </div>      
    <div class="hero">
        <h1 class="title">¡Animate a jugar con amigos!</h1>
        <p class="subtitle">Participa de la penca UCU y ganá grandes premios.</p>
        <div class="icons">
            <a href="/reglas"><i class="fas fa-book"></i> Reglas</a>
            <a href="/como-jugar"><i class="fas fa-gamepad"></i> Cómo Jugar</a>
            <a href="/premios"><i class="fas fa-trophy"></i> Premios</a>
        </div>
    </div>
</div>
