<div *ngIf="predictions.length > 0; else noPredictions">
    <h2>Mis Predicciones</h2>
    <div *ngFor="let prediction of predictions">
        <p>Partido: {{ prediction.equipo_local }} vs {{ prediction.equipo_visitante }}</p>
        <p>Predicción: {{ prediction.prediccion_local }} - {{ prediction.prediccion_visitante }}</p>  
        <button (click)="deletePrediction(prediction.id)">Eliminar</button>
        <button (click)="editPrediction(prediction)">Modificar</button>
    </div>
</div>
<ng-template #noPredictions>
    <p>No hay predicciones para mostrar.</p>
</ng-template>


<!-- Formulario de Edición -->
<div *ngIf="showEditForm">
    <h3>Editar Predicción</h3>
    <form [formGroup]="editPredictionForm" (ngSubmit)="updatePrediction()">
        <div>
            <label for="prediccion_local">Predicción Local:</label>
            <input formControlName="prediccion_local" id="prediccion_local" type="number">
        </div>
        <div>
            <label for="prediccion_visitante">Predicción Visitante:</label>
            <input formControlName="prediccion_visitante" id="prediccion_visitante" type="number">
        </div>
        <div>
            <label for="campeon">Campeón:</label>
            <input formControlName="campeon" id="campeon" type="text">
        </div>
        <div>
            <label for="subcampeon">Subcampeón:</label>
            <input formControlName="subcampeon" id="subcampeon" type="text">
        </div>
        <button type="submit">Guardar Cambios</button>
        <button type="button" (click)="cancelEdit()">Cancelar</button>
    </form>
</div>
