<nav class="navbar">
    <img src="assets/logoCA.png" alt="Logo" class="logo">
      <div class="nav-container">
          <a href="../inicio" class="nav-link">Inicio</a>
      </div>
  </nav>

  <div class="container">
    <div *ngFor="let resultado of resultados" class="result">
      <div class="match-date-time">
        <span class="match-date">{{ formatDate(resultado.fecha) }}</span>
      </div>
      <div class="team team-local">
        <span>{{ resultado.equipo_local }}</span>
        <img [src]="getFlagUrl(resultado.equipo_local)" alt="{{ resultado.equipo_local }} flag" class="flag">
      </div>
      <div class="score">
        <span>{{ resultado.goles_local }} - {{ resultado.goles_visitante }}</span>
      </div>
      <div class="team team-visitante">
        <img [src]="getFlagUrl(resultado.equipo_visitante)" alt="{{ resultado.equipo_visitante }} flag" class="flag">
        <span>{{ resultado.equipo_visitante }}</span>
      </div>
    </div>
  </div>
