<div>
    <h2>Estadísticas de Aciertos de Alumnos</h2>
  
    <table>
      <thead>
        <tr>
          <th>Documento</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Aciertos Totales</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estadistica of estadisticas">
          <td>{{ estadistica.documento }}</td>
          <td>{{ estadistica.nombre }}</td>
          <td>{{ estadistica.apellido }}</td>
          <td>{{ estadistica.aciertos_totales }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  