<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómo Jugar a la PencaUCU</title>
    <link rel="stylesheet" href="/Frontend/src/app/como-jugar/como-jugar.component.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Cómo Jugar a la PencaUCU</h1>
        <div class="card mt-3">
            <div class="card-body">
                <h2>Inicio de Sesión</h2>
                <p>1. Ingresa con tu nombre de usuario y contraseña de la UCU.</p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h2>Ingreso de Predicciones</h2>
                <p>1. Ingresa las predicciones de los resultados de los partidos antes de cada jornada.</p>
                <p>2. Puedes ingresar y modificar tus predicciones en cualquier momento, siempre que falte más de una hora para el inicio del partido.</p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h2>Seguimiento y Resultados</h2>
                <p>1. Consulta tus predicciones ingresadas y los puntos obtenidos hasta el momento.</p>
                <p>2. Visualiza el ranking de todos los participantes y los resultados actualizados.</p>
                <p>3. Recibirás notificaciones diarias si aún no has ingresado tus predicciones.</p>
            </div>
        </div>
    </div>
</body>
</html>
