<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<nav class="navbar">
    <img src="assets/pencaucu2.png" alt="Logo" class="logo">
      <div class="nav-container">
          <a href="../inicio" class="nav-link">Inicio</a>
      </div>
</nav>
  

<body>
    <div class="container mt-5">
        <div class="card mt-3">
            <div class="card-body">
                <h2>Registro</h2>
                <p>1. Registrate en la pencaUCU completando todos los datos del formulario.</p>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h2>Inicio de Sesión</h2>
                <p>1. Ingresa con tu nombre de usuario y contraseña.</p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h2>Ingreso de Predicciones</h2>
                <p>1. Ingresa las predicciones de los resultados de los partidos antes de cada jornada.</p>
                <p>2. Puedes ingresar y modificar tus predicciones en cualquier momento, siempre que falte más de una hora para el inicio del partido.</p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h2>Seguimiento y Resultados</h2>
                <p>1. Consulta tus predicciones ingresadas y los puntos obtenidos hasta el momento.</p>
                <p>2. Visualiza el ranking de todos los participantes y los resultados actualizados.</p>
                <p>3. Recibirás notificaciones diarias si aún no has ingresado tus predicciones.</p>
            </div>
        </div>
    </div>
</body>

