/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('https://static.deportes13.cl/sites/default/files/componentes/field-comp-fondo/2024-04/bg-ca2024-2.jpg') no-repeat center center fixed;
    background-size: cover;
}
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://static.deportes13.cl/sites/default/files/componentes/field-comp-fondo/2024-04/bg-ca2024-2.jpg') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad de la imagen de fondo */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border: 1px solid #ddd;
    margin-bottom: 35px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.match-date-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    text-align: left;
}

.match-date {
    font-weight: bold;
}

.match-time {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
}

.team {
    display: flex;
    align-items: center;
    flex: 2;
}

.team-local {
    justify-content: flex-end;
    text-align: right;
}

.team-visitante {
    justify-content: flex-start;
    text-align: left;
}

.team-local img.flag,
.team-visitante img.flag {
    margin-left: 10px;
    margin-right: 10px;
}

.team img.flag {
    width: 35px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}

.score-inputs {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.score-inputs input {
    width: 50px;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

.match button {
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.match button:hover {
    background-color: #218838;
}
