<nav class="navbar">
  <img src="assets/pencaucu2.png" alt="Logo" class="logo">
    <div class="nav-container">
        <a href="../inicio" class="nav-link">Inicio</a>
    </div>
</nav>

<div>
  <table class="tabla-predicciones">
    <thead>
      <tr>
        <th>PARTIDO</th>
        <th>PUNTAJE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prediccion of predicciones">
        <td>
          {{ prediccion.equipo_local }} vs {{ prediccion.equipo_visitante }}
        </td>
        <td>
          <span *ngIf="esResultadoDisponible(prediccion)">
            {{ obtenerPuntaje(prediccion) }}
          </span>
          <span *ngIf="!esResultadoDisponible(prediccion)">
            Resultado pendiente
          </span>
        </td>
      </tr>
      <tr>
        <td>
          Campeón: {{ campeonatoPrediccion.campeon }}
        </td>
        <td>
          <span *ngIf="campeonatoPrediccion.campeon !== 'Resultado pendiente'">
            {{ puntosCampeon }}
          </span>
          <span *ngIf="campeonatoPrediccion.campeon === 'Resultado pendiente'">
            Resultado pendiente
          </span>
        </td>
      </tr>
      <tr>
        <td>
          Subcampeón: {{ campeonatoPrediccion.subcampeon }}
        </td>
        <td>
          <span *ngIf="campeonatoPrediccion.subcampeon !== 'Resultado pendiente'">
            {{ puntosSubcampeon }}
          </span>
          <span *ngIf="campeonatoPrediccion.subcampeon === 'Resultado pendiente'">
            Resultado pendiente
          </span>
        </td>
      </tr>
    </tbody>
  </table>

 

  <div class="total-container">
    <p>Total: {{ puntosTotales }}</p>
  </div>
</div>
