<!---<div>
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="border: 1px solid black; padding: 8px;">PARTIDO</th>
        <th style="border: 1px solid black; padding: 8px;">PUNTAJE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prediccion of predicciones">
        <td style="border: 1px solid black; padding: 8px;">
          {{ prediccion.equipo_local }} vs {{ prediccion.equipo_visitante }}
        </td>
        <td style="border: 1px solid black; padding: 8px;">
          {{ obtenerPuntaje(prediccion) }}
        </td>
      </tr>
    </tbody>
  </table>


  <div style="text-align: center; margin-top: 20px;">
    <p>Total: {{ puntosTotales }}</p>
  </div>
</div>
--->

<div>
  <table class="tabla-predicciones">
    <thead>
      <tr>
        <th>PARTIDO</th>
        <th>PUNTAJE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prediccion of predicciones">
        <td>
          {{ prediccion.equipo_local }} vs {{ prediccion.equipo_visitante }}
        </td>
        <td>
          {{ obtenerPuntaje(prediccion) }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="total-container">
    <p>Total: {{ puntosTotales }}</p>
  </div>
</div>
