.login-container {
  background-color: rgba(235, 233, 233, 0.393); /* Dark background to make the white text visible */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-content {
  padding: 110px;
  border-radius: 10px;
  background: url('https://acdn.mitiendanube.com/stores/001/736/624/products/art11741-24901-cd709c0748550fabbd16238680549273-640-0.jpg') no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.2);
}

.login-content h2 {
  text-align: center;
  margin-top: -60px;
  color: white;
  font-size: 1.8em; 
  
}

.login-content form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-left: -60px;
}

.btn-container {
  margin-top: 20px;
}

.btn-container button {
  width: 50%;
}

.form-control {
  width: 120%;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  margin-top: 15px;
  color: white;
}

.text-danger {
  color: red;
}

.register-link {
  margin-top: 20px;
  text-align: center;
  margin-left: -180px;
  color: white;
  font-size: 1.0em;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.logo {
  max-width: 350px; /* Adjust the size of the logo */
  margin-top: -210px;
}