<nav class="navbar">
  <img src="assets/pencaucu2.png" alt="Logo" class="logo">
    <div class="nav-container">
        <a href="../inicio" class="nav-link">Inicio</a>
    </div>
</nav>

<body>
<div class="container">

    <div class="rule-card">
      <div class="card-body">
        <h2>Puntuación</h2>
            <ol>
              <li>Se asignarán 4 puntos por cada resultado exacto de un partido y 2 puntos por resultado correcto.</li>
              <li>Se otorgarán 10 puntos por acertar al campeón y 5 puntos por acertar al subcampeón.</li>
              <li>Los usuarios deben ingresar sus predicciones antes de la fecha límite indicada para cada partido.</li>
              <li>No se permiten predicciones una vez que el partido haya comenzado.</li>
              <li>El puesto final de cada participante se determinará por la cantidad total de puntos acumulados durante toda la Copa América.</li>
            </ol>
      </div>
    </div>

    <div class="rule-card">
      <div class="card-body">
        <h2>Criterios de Desempate</h2>
            <ol>
              <li>Se considerará el número de resultados exactos acertados.</li>
              <li>Si persiste el empate, se tomará en cuenta la fecha de inscripción (quien se inscribió primero tendrá ventaja).</li>
              <li>Otros posibles criterios de desempate incluyen la cantidad de resultados correctos y finalmente un sorteo.</li>
            </ol>
      </div>
    </div>

    <div class="rule-card">
      <div class="card-body">
        <h2>Normas de Conducta</h2>
            <ol>
              <li>Los usuarios deben comportarse con respeto y cortesía hacia otros participantes.</li>
              <li>Cualquier comportamiento inapropiado o trampa resultará en la descalificación del usuario.</li>
            </ol>
      </div>
    </div>

    <div class="rule-card">
      <div class="card-body">
        <h2>Modificación de Predicciones</h2>
            <ol>
              <li>Se permite modificar las predicciones hasta una hora antes del inicio del partido.</li>
              <li>Una vez iniciado el partido, las predicciones no se pueden cambiar.</li>
            </ol>
      </div>
    </div>


    <p class="good-luck">¡Diviértete y buena suerte!</p>
</div>
</body>
